$elements-color: #1d1d1d;
$project-color: #151515;
$font-color: #0afdd8;
$svg-color: rgb(2, 44, 255);
body {
  background-color: #000000;
  font-family: sans-serif;
  color: $font-color;
  margin: 0px !important;
}
#title {
  width: 100%;
  height: 100vh;
}
/*path{
    fill:rgb(2, 44, 255);
    stroke:rgb(2, 44, 255);
}*/
a {
  color: rgb(115, 0, 255);
  font-weight: bold;
  text-decoration: none;
}
/*svg stuff*/
svg {
  width: 30px;
  stroke: $svg-color;
}
.star {
  float: right;
  svg {
    fill: $svg-color;
  }
}
#discord {
  fill: $svg-color;
}
//menu
#menu {
  position: fixed;
  border-width: 10px;
  background-color: $elements-color;
  overflow: hidden;
  box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
  float: left;

  height: 100vh;
  width: 7em;

  p {
    left: 10px;
    padding-top: 30px;
    overflow: none;
    list-style-type: none;
    text-align: left;

    text-decoration: none;
    font-weight: bold;
    padding-top: 10px;
  }
  #menu-header {
    padding-top: 10px;
  }

  a {
    color: $font-color;
    text-decoration: none;
  }
  #menu-social-networks {
    padding-top: 80px;
    text-align: center;
  }
}
.separation {
  padding-top: 200px;
}

.section {
  .title {
    font-size: 60px;
  }
  p {
    font-size: 20px;
  }
  .animations-post {
    float: right;
  }
  max-width: 70%;

  margin: auto;
  border: solid;
  border-width: 10px;
  border-radius: 5px;
  border-color: $elements-color;

  background-color: $elements-color;
}
// projects

#projects {
  a {
    color: $font-color;
    .description {
      position: relative;
      visibility: hidden;
    }
  }
  a:hover {
    .description {
      visibility: visible;
      border-width: 10px;
      border-color: $project-color;
      border-radius: 5px;
    }
  }
  #projects-container {
    margin: auto;
  }
  .project {
    display: inline-block;
    border-width: 10px;
    border-radius: 10px;
    border-color: $project-color;
    margin: 10px;

    height: 20em;
    h1 {
      font-size: 30px;
      text-align: center;
    }
    img {
      height: 20em;
      margin: auto;
      display: block;
      align-self: center;
    }
    width: 30em;
    background-color: $project-color;
    min-height: 37em;
  }
}
#contact {
  height: 50em;
  margin: auto;
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    border: none;
    margin: 2px;

  }
  input {
    height: 30px;
    font-size: 20px;
    color: $font-color;
    background-color: $project-color;
    border-radius: 5px;
  }
  textarea,
  input {
    color: $font-color;
    background-color: $project-color;
    border-radius: 5px;
  }
  input[type="submit"] {
    width: 80px;
    border: none;
    height: 40px;;
    
  }
  textarea {
    height: 20em;
    font-family: sans-serif;
  }
  #contact-form {
    max-width: 40em;
    height: 20em;
  }
}
// some reponsive that it doesnt work really well
@media (max-width: 1000px) {
  .section {
    width: 99%;
  }
  #cos-sin-animation {
    display: none;
  }
  #thecnologies {
    height: 100vh;
  }
  #menu {
    float: none;
    position: fixed;

    top: 0;
    width: 100%;
    height: 60px;
    p {
      padding-bottom: 10px;
      display: inline;
      padding-right: 10px;
    }
    svg {
      padding-bottom: 10px;
    }
    div {
      display: inline;
    }

    #menu-title {
      display: none;
    }
  }
}
@media (max-width: 1000px) and (min-width: 800px) {
  #menu-social-networks {
    padding-left: 20em;
  }
}

@media (max-width: 800px) and (min-width: 600px) {
  #menu-social-networks {
    padding-left: 10em;
  }
}
@media (max-width: 600px) {
  #menu-social-networks {
    padding-left: 2em;
  }
}
